AzureDataFactory/arm_template/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "geo-datafactory"
        },
        "AzureBlobStorage_Footprints_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureBlobStorage_Footprints'"
        },
        "CosmosDb_footprints_split_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'CosmosDb_footprints_split'"
        },
        "AzureBatchPoolDebian_accessKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accessKey' of 'AzureBatchPoolDebian'"
        },
        "AzureBatchD13_accessKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accessKey' of 'AzureBatchD13'"
        },
        "AzureBatchPoolDebian_properties_typeProperties_accountName": {
            "type": "string",
            "defaultValue": "geoabatch"
        },
        "AzureBatchPoolDebian_properties_typeProperties_batchUri": {
            "type": "string",
            "defaultValue": "https://geoabatch.westeurope.batch.azure.com"
        },
        "AzureBatchPoolDebian_properties_typeProperties_poolName": {
            "type": "string",
            "defaultValue": "geobatchpooldebian"
        },
        "AzureBatchD13_properties_typeProperties_accountName": {
            "type": "string",
            "defaultValue": "geoabatch"
        },
        "AzureBatchD13_properties_typeProperties_batchUri": {
            "type": "string",
            "defaultValue": "https://geoabatch.westeurope.batch.azure.com"
        },
        "AzureBatchD13_properties_typeProperties_poolName": {
            "type": "string",
            "defaultValue": "geobatchdebian_D13"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Footprints')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorage_Footprints_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CosmosDb_footprints_split')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "CosmosDb",
                "typeProperties": {
                    "connectionString": "[parameters('CosmosDb_footprints_split_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ZipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage_Footprints",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "stateszip",
                        "container": "footprints"
                    },
                    "compression": {
                        "type": "ZipDeflate",
                        "level": "Optimal"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/UnzipFiles')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage_Footprints",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "statesunzip",
                        "container": "footprints"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CosmosDbSqlApiCollection_footprint_unzip')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CosmosDb_footprints_split",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "CosmosDbSqlApiCollection",
                "schema": {},
                "typeProperties": {
                    "collectionName": "footprint_unzip"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CosmosDb_footprints_split')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Json_unzip_alaska')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage_Footprints",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Alaska.geojson",
                        "folderPath": "statesunzip",
                        "container": "footprints"
                    }
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string"
                        },
                        "features": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string"
                                    },
                                    "geometry": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "coordinates": {
                                                "type": "array",
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "number"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "properties": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CosmosDbSqlApiCollection_analytics')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CosmosDb_footprints_split",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "CosmosDbSqlApiCollection",
                "schema": {},
                "typeProperties": {
                    "collectionName": "footprint_analytics"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CosmosDb_footprints_split')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBatchPoolDebian')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBatch",
                "typeProperties": {
                    "accountName": "[parameters('AzureBatchPoolDebian_properties_typeProperties_accountName')]",
                    "accessKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureBatchPoolDebian_accessKey')]"
                    },
                    "batchUri": "[parameters('AzureBatchPoolDebian_properties_typeProperties_batchUri')]",
                    "poolName": "[parameters('AzureBatchPoolDebian_properties_typeProperties_poolName')]",
                    "linkedServiceName": {
                        "referenceName": "AzureBlobStorage_Footprints",
                        "type": "LinkedServiceReference"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBatchD13')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBatch",
                "typeProperties": {
                    "accountName": "[parameters('AzureBatchD13_properties_typeProperties_accountName')]",
                    "accessKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureBatchD13_accessKey')]"
                    },
                    "batchUri": "[parameters('AzureBatchD13_properties_typeProperties_batchUri')]",
                    "poolName": "[parameters('AzureBatchD13_properties_typeProperties_poolName')]",
                    "linkedServiceName": {
                        "referenceName": "AzureBlobStorage_Footprints",
                        "type": "LinkedServiceReference"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Json_washington')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage_Footprints",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "*.geojson",
                        "folderPath": "split",
                        "container": "washington"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/main-pipe')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get Metadata UnZip file list",
                        "type": "GetMetadata",
                        "dependsOn": [
                            {
                                "activity": "Copy data Zipped to Unzipped",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "UnzipFiles",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobStorageReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "BinaryReadSettings"
                            }
                        }
                    },
                    {
                        "name": "ForEach UnZip file",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get Metadata UnZip file list",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get Metadata UnZip file list').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Batch Split Geojson",
                                    "type": "Custom",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "command": {
                                            "value": "@concat('python3 process_geojson_batch.py ', replace(item().name, '.zip', '.geojson'))",
                                            "type": "Expression"
                                        },
                                        "resourceLinkedService": {
                                            "referenceName": "AzureBlobStorage_Footprints",
                                            "type": "LinkedServiceReference"
                                        },
                                        "folderPath": "input-batch",
                                        "referenceObjects": {
                                            "linkedServices": [],
                                            "datasets": []
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "AzureBatchD13",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Copy data Zipped to Unzipped",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": false,
                                    "deleteFilesAfterCompletion": false
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings",
                                    "compressionProperties": {
                                        "type": "ZipDeflateReadSettings",
                                        "preserveZipFileNameAsFolder": false
                                    }
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ZipFiles",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "UnzipFiles",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "annotations": [],
                "lastPublishTime": "2020-09-18T08:33:39Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/UnzipFiles')]",
                "[concat(variables('factoryId'), '/datasets/ZipFiles')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Footprints')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureBatchD13')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ingest to CosmosDB from unzip')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "additionalColumns": [
                                    {
                                        "name": "filepath",
                                        "value": "$$FILEPATH"
                                    }
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "CosmosDbSqlApiSink",
                                "writeBehavior": "upsert",
                                "disableMetricsCollection": false
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "path": "[['type']"
                                        },
                                        "sink": {
                                            "path": "$['type']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "[['geometry']['type']"
                                        },
                                        "sink": {
                                            "path": "$['geometry']['type']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "[['geometry']['coordinates']"
                                        },
                                        "sink": {
                                            "path": "$['geometry']['coordinates']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "$['filepath']"
                                        },
                                        "sink": {
                                            "path": "$['properties']['state']"
                                        }
                                    }
                                ],
                                "collectionReference": "$['features']"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Json_unzip_alaska",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CosmosDbSqlApiCollection_footprint_unzip",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "annotations": [],
                "lastPublishTime": "2020-10-08T14:09:09Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/Json_unzip_alaska')]",
                "[concat(variables('factoryId'), '/datasets/CosmosDbSqlApiCollection_footprint_unzip')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ingest to CosmosDB from split')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": false,
                                    "wildcardFolderPath": "split",
                                    "wildcardFileName": "*.geojson"
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "CosmosDbSqlApiSink",
                                "writeBehavior": "upsert",
                                "disableMetricsCollection": false
                            },
                            "enableStaging": false,
                            "parallelCopies": 16,
                            "dataIntegrationUnits": 32,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "path": "[['type']"
                                        },
                                        "sink": {
                                            "path": "$['type']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "[['geometry']['type']"
                                        },
                                        "sink": {
                                            "path": "$['geometry']['type']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "[['geometry']['coordinates']"
                                        },
                                        "sink": {
                                            "path": "$['geometry']['coordinates']"
                                        }
                                    },
                                    {
                                        "source": {
                                            "path": "[['properties']['State']"
                                        },
                                        "sink": {
                                            "path": "$['properties']['state']"
                                        }
                                    }
                                ],
                                "collectionReference": "$['features']"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Json_washington",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CosmosDbSqlApiCollection_analytics",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "annotations": [],
                "lastPublishTime": "2020-10-25T10:58:30Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/Json_washington')]",
                "[concat(variables('factoryId'), '/datasets/CosmosDbSqlApiCollection_analytics')]"
            ]
        }
    ]
}